<%- include('./include/_header') %>

<!-- Main -->
<main id="site-main">
  <div class="button-box">        
    <a href="/main?path=<%= encodeURIComponent(currentPath) %>" class="btn btn-light">
      <i class="fa-solid fa-list"></i> 파일 목록
    </a>
  </div>
  <h2>파일 수정</h2>          
  <p>파일 정보를 수정합니다.</p>
  <p>파일명에는 /, . 포함이 불가능합니다.</p>

  <!-- 수정하기 폼 -->
  <form action="/main/<%= file._id %>?_method=PUT&path=<%= encodeURIComponent(currentPath) %>" method="POST" id="add-user">
    <div class="user-info">
      <div class="col-12">
        <label for="name" class="col-form-label">filename</label>
        <div>
          <input type="text" class="form-control" name="name" id="name" value="<%= file.filename %>">
        </div>
      </div>
      <div class="col-12">
        <label for="type" class="col-form-label">filetype</label>
        <div>
          <input type="text" class="form-control" name="type" id="type" value="<%= file.filetype %>">
        </div>
      </div>
      <div class="col-12">
        <label for="path" class="col-form-label">filepath</label>
        <div>
          <input type="text" class="form-control" name="path" id="path" value="<%= file.filePath %>">
        </div>
      </div>

      <button type="submit">수정하기</button>
    </div>
  </form>   
</main>

<!-- /Main -->

<%- include('./include/_footer') %>
